<!DOCTYPE html>
<html>
<head>
  <title>Magiczne Miejsca</title>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAF2BomR1actHuIZrdhuifBBRoIiQ8SGTkty_usGeuN6fW0ayQLRTMY19hZbgzclWqu3sUKqI54Du-Fw" type="text/javascript"></script>


  	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
			<script type="text/javascript" src="http://gmap.nurtext.de/js/jquery.gmap-1.1.0-min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.cleditor.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.jqtransform.js"></script>
 <script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>
    <script src="http://www.google.com/jsapi"></script>

    <script type="text/javascript" src="/javascripts/chili/jquery.chili-2.2.js"></script>
    <script type="text/javascript" src="/javascripts/chili/recipes.js"></script>    
    <script type='text/javascript' src='/javascripts/jquery.mapfu.js'></script>



		<a href="/"><img src="/images/logo.png" alt="" /></a>
		
	<script type="text/javascript">		
	
		var $j = jQuery.noConflict();	
	</script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
<script type="text/javascript">

      $j(document).ready(function() {
        $j("#place_opis").cleditor();
      });
	  
	  
	  $j(function() {
    //find all form with class jqtransform and apply the plugin
    $j("form.simple_form").jqTransform();
});


$j(function() {
	$j('#fota a').lightBox({fixedNavigation:true});
});
    </script>
</body>
</html>
